<h3>List of Blogs</h3>

<div class="box">
<% @blogs.each do |b| %>

  <div><%= b.title %></div>
  <div><%= b.content %></div>
  <% id= b.user_id %>
  <div><%= User.find(id).username %>
  <hr>
<% end %>
</div>
