<h3>Create Blog</h3>


<div class="box">
<form action="/create_blog" method="post">
  Title: <input type="text" name="title">
Content: <input type="text" name="content">
  <input type="submit" name="">
</form>
</div>
