<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Create User</a></li>
      <li> <a href="/users/edit">Edit User</a> </li>
<<<<<<< HEAD
<<<<<<< HEAD

    </nav>
=======
=======

>>>>>>> d73f5900f18bd664d523d379dc8628cfc024f250
        <form  action="/logout" method="post">
        <input id="logout" type="submit" value="Logout">
      </form>
    </ul>
<<<<<<< HEAD
>>>>>>> b281c139244321640a2049a471b5e78a2b671339
=======

>>>>>>> d73f5900f18bd664d523d379dc8628cfc024f250
    <div>
      <% if current_user %>
        <%= current_user.username %>
        <form  action="/logout" method="post">
        <input type="submit" value="Logout">
      </form>
      <a href="/blogs/new">post blog</a>

      <% else %>
      <a href="/login">sign in</a>
        <% end %>
    </div>

<%= yield %>
  </body>
</html>
