<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Create User</a></li>
      <li> <a href="/users/edit">Edit User</a> </li>
      <li> <a href="/blogs/recent"> Recent Posts</a> </li>




    <div>
      <% if current_user %>
        <li><a href="/blogs/new">Post Blog</a></li>
      </ul>

      Logged In As: <%= current_user.username %>

      <form  action="/logout" method="post">
        <input id="logout" type="submit" value="Logout">
      </form>
      <% else %>
    </ul>
        <% end %>
    </div>

<%= yield %>
  </body>
</html>
