<h3>Edit User</h3>

<form  action="/edit_user" method="post">
  Username: <input type="text" name="username">
Password:  <input type="text" name="password">
  <input type="submit" name="">

</form>

</form>
<hr>
<form method='post' action="/destroy_user">
	<button type='submit'>Delete Account</button>
</form>
