<h3 id="logtitle">Login:</h3>

<div class="box">
<form action="/login" method="post">
  Username: <input type="text" name="username">
Password: <input type="text" name="password">
  <input type="submit" name="">
</form>
</div>
